
<div class="container pb-5 mt-5">
    <h1>Lista de Pessoas Desaparecidas</h1>
    <div class="row">
        <div class="col-md-1 align-self-center">
            <h3>Filtros:</h3>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputNome" placeholder="" (blur)="getData(page, $any($event.target).value, currentSexo, currentIdade)">
                <label for="floatingInputNome">Nome</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputIdade" placeholder="" (blur)="getData(page, currentNome, currentSexo, $any($event.target).value)">
                <label for="floatingInputIdade">Idade</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" (change)="getData(page, currentNome, $any($event.target).value, currentIdade)" id="select-sexo">
                    <option value="NONE"></option>
                    <option value="FEMININO">Feminino</option>
                    <option value="MASCULINO">Masculino</option>
                </select>
                <label for="select-sexo">Sexo</label>
            </div>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="c-id"> ID </mat-header-cell>
                <mat-cell *matCellDef="let row" class="c-id"> {{row.id}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="c-nome"> Nome </mat-header-cell>
                <mat-cell *matCellDef="let row" class="c-nome"> {{row.nome}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="idade">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="c-idade"> Idade </mat-header-cell>
                <mat-cell *matCellDef="let row" class="c-idade"> {{row.idade}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="sexo">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="c-sexo"> Sexo </mat-header-cell>
                <mat-cell *matCellDef="let row" class="c-sexo"> {{row.sexo}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="urlFoto">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="c-foto"> Foto </mat-header-cell>
                <mat-cell *matCellDef="let row" class="c-foto"> 
                    <div class="img-wrapper">
                        <img src="{{ row.urlFoto || 'assets/anon.png' }}" class="img-size"> 
                    </div> 
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPessoaId(row.id)">
            </mat-row>
        </mat-table>
    </div>
    <mat-divider></mat-divider>
    <div class="my-5 row g-3">
        <div class="col">
            Página {{ page + 1 }} de {{ totalPages }}
        </div>
        <div class="col">
            <div class="row">
                <label for="select-page" class="col-sm-2 col-form-label">Página</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change)="changePage($event)" id="select-page">
                        @for (pageNum of [].constructor(totalPages); track pageNum; let index = $index) {
                            <option value="{{ index }}">{{ index + 1 }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>


    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" itensPerPageLabel="Itens por Página"></mat-paginator> -->
</div>