
<div class="container pb-5 mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Id</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="" (keydown)="getData(page, $any($event.target).value)">
                <label for="floatingInput">Nome</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Idade</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Sexo</label>
            </div>
        </div>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idade">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Idade </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idade}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sexo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sexo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="urlFoto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> urlFoto </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <div class="img-wrapper">
                    <img src="{{ row.urlFoto || 'assets/anon.png' }}" class="img-size"> 
                </div> 
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-divider></mat-divider>
    <div class="my-5 row g-3">
        <div class="col">
            Página {{ page + 1 }} de {{ totalPages }}
        </div>
        <div class="col">
            <div class="row">
                <label for="select-page" class="col-sm-2 col-form-label">Página</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change)="changePage($event)" id="select-page">
                        @for (pageNum of [].constructor(totalPages); track pageNum; let index = $index) {
                            <option value="{{ index }}">{{ index + 1 }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>


    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" itensPerPageLabel="Itens por Página"></mat-paginator> -->
</div>